<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login" #editForm="ngForm" (ngSubmit)="editHandler(editForm)">
                <h2 [ngClass]="editForm.touched && (inputDate.errors || inputDescription.errors || inputImage.errors || errorMessageFromServer) ?  'button__text error-icon' : 'button__text'"
                    class="button__text">Edit Trip...</h2>
                <!-- START LOCATION -->
                <div class="login__field">
                    <strong>Start Location</strong>
                    <select class="login__input" name="startLocation" [(ngModel)]="trip.startLocation" required>
                        <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
                    </select>
                </div>
                
                <!-- END LOCATION -->
                <div class="login__field">
                    <strong>End Location</strong>
                    <select class="login__input" name="endLocation" [(ngModel)]="trip.endLocation" required>
                        <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
                    </select>
                </div>

                <!-- STARTDATE -->
                <div class="login__field">
                    <i
                        [ngClass]="inputDate.errors && inputDate.touched ?  'login__icon fa-solid fa-calendar error-icon' : 'login__icon fa-solid fa-calendar'"></i>
                    <input [ngClass]="inputDate.errors && inputDate.touched ?  'input-error' : '' " type="date"
                        class="login__input" name="startDate" placeholder="Date" ngModel #inputDate="ngModel" required [ngModel]="date">
                </div>

                <ng-container *ngIf="inputDate.touched">
                    <p class="error" *ngIf="inputDate.errors?.['required']">
                        Date is required!
                    </p>
                </ng-container>

                <!-- ENDDATE -->
                <div class="login__field">
                    <i
                        [ngClass]="inputDate.errors && inputDate.touched ?  'login__icon fa-solid fa-calendar error-icon' : 'login__icon fa-solid fa-calendar'"></i>
                    <input [ngClass]="inputDate.errors && inputDate.touched ?  'input-error' : '' " type="date"
                        class="login__input" name="endDate" placeholder="Date" ngModel #inputDate="ngModel" required [ngModel]="date">
                </div>
            
                <ng-container *ngIf="inputDate.touched">
                    <p class="error" *ngIf="inputDate.errors?.['required']">
                        Date is required!
                    </p>
                </ng-container>

                <!-- DESCRIPTION -->
                <div class="login__field">
                    <i
                        [ngClass]="inputDescription.errors && inputDescription.touched ?  'login__icon fas fa-comment error-icon' : 'login__icon fas fa-comment'"></i>
                    <textarea [ngClass]="inputDescription.errors && inputDescription.touched ?  'input-error' : '' "
                        type="text" class="login__input" name="description" placeholder="Description" ngModel
                        #inputDescription="ngModel" required minlength="10" maxlength="50" [ngModel]="trip?.description"></textarea>
                </div>

                <ng-container *ngIf="inputDescription.touched">
                    <p class="error" *ngIf="inputDescription.errors?.['required']">
                        Description is required!
                    </p>
                    <p class="error" *ngIf="inputDescription.errors?.['minlength']">
                        Description must be at least {{inputDescription.errors?.['minlength']['requiredLength']}}
                        characters!
                    </p>
                    <p class="error" *ngIf="inputDescription.errors?.['maxlength']">
                        Description should not be more than {{inputDescription.errors?.['maxlength']['requiredLength']}}
                        characters!
                    </p>
                </ng-container>

                <!-- IMAGE -->
                <div class="login__field">
                    <i
                        [ngClass]="inputImage.errors && inputImage.touched ?  'login__icon fa-solid fa-file-image error-icon' : 'login__icon fa-solid fa-file-image'"></i>
                    <input
                        [ngClass]="inputImage.errors && inputImage.touched ?  'login__input input-error' : 'login__input' "
                        type="file" id="image" name="img" ngModel #inputImage="ngModel" (change)="loadFile($event)"
                        placeholder="Image">
                </div>

                <ng-container *ngIf="inputImage.touched">
                    <p class="error" *ngIf="inputImage.errors?.['required']">
                        Image is required!
                    </p>
                </ng-container>

                <ng-container *ngIf="errorMessageFromServer">
                    <p class="error">
                        {{errorMessageFromServer}}
                    </p>
                </ng-container>

                <button [disabled]="editForm.invalid" class="button login__submit">
                    <span class="button__text">Edit</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
            <!-- <div class="social-login">
				<h3>trip in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div> -->
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
    
        <div class="screen">
            <div class="login">
                <img *ngIf="selectedFile" style="width: 320px" id="output" [src]="url" alt="Image">
                <!-- <img id="output" [ngStyle]="{ 'background-image': 'url(' + 'data:image/png;base64,' + getImageAsBase64() + ')'}" /> -->
                <img *ngIf="!selectedFile" style="width: 320px" id="output" [src]="'data:image/png;base64,' + image" alt="Image from server">

            </div>
        </div>
    
</div>