<main>
    <section id="hero">
        <h1 *ngIf="searchService.searchResult.length > 0"><strong>Search</strong> results...</h1>
        <h1 *ngIf="searchService.searchResult.length === 0">There are no results, based on your search!</h1>
        <div class="pagination">
            <app-pagination *ngIf="searchService.searchResult.length > 0" [currentPage$]="searchService.currentPage$" [pages]="searchService.pages" />
        </div>
        <ul class="recent" *ngIf="searchService.searchResult.length > 0">
            <li *ngFor="let trip of searchService.searchResult as trips">
                <a routerLink="/trips/{{trip._id}}" >
                    <app-card [trip]="trip" />
                </a>
            </li>
        </ul>
    </section>
</main>
