@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 65vh;
	margin-top: 5rem;
}

.screen {
	background: linear-gradient(90deg, #0f4163, #47a3b0);
	display: flex;
	justify-content: center;
	position: relative;
	height: 500px;
	width: 500px;
	box-shadow: 0px 0px 24px #568c96;
	opacity: 0.8;
}

.screen__content {

	z-index: 1;
	position: relative;
	height: 100%;
}

.screen__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;
	top: -50px;
	right: 120px;
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #113e5b;
	top: -172px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #db878e, #9e647a);
	top: -24px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #165474;
	top: 420px;
	right: 50px;
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 2rem;
}

.login__field {
	padding: 20px 0px;
	position: relative;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #113e5b;
}

.login__input {
	border: none;
	border-bottom: 2px solid #d2d4d1;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #809e67;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #113e5b;
	box-shadow: 0px 2px 2px #566996;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {
	position: absolute;
	/* height: 140px; */
	width: 80px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);
}

p.error {
	text-align: left;
	border-radius: 0.3em;
	color: red;
	padding-top: 0;
}

.input-error {
	border-bottom: 2px solid red;

}

.error-icon {
	color: red;
}


img {
	margin-top: 2rem;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-position: center;
	object-fit: cover;
	background-size: cover;
}

/* HERO */
section#hero {
	/* height: calc(100vh - 60px); */
	min-height: 45vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
}

#hero h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

#hero h2 {
	min-height: 40vh;

	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#hero>ul {
	position: inherit;
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.recent {
	display: flex;
	margin-top: 2rem;
	justify-content: center;
	align-items: center;
}

.recent>li {
	list-style: none;
	margin-bottom: 3rem;
}

.pagination {
	/* margin-top: 1rem; */
	position: inherit;
}

.loader {
	/* margin-top: 5rem; */
	min-height: calc(100vh - 60px);
}

/* RESPONSIVE */
@media (max-width: 992px) {
	.recent {
		flex-direction: column;
		display: flex !important;
		justify-content: center;
	}

	section#hero {
		height: auto;
		margin-top: 2rem;
	}

	.dropdown_menu {
		display: block;
	}
}

@media (max-width: 576px) {
	.container {
		left: 2rem;
		width: unset;
	}
}