<main>
    <section id="hero">
        <h1>About Project</h1>

        <p>Embrace the journey with <strong>SpaceTravel</strong>, where each trip its a unique adventure around the universe.</p>

        <p>This platform, crafted for the enthusiastic travelers, follows a detailed project plan.<br />
            It features distinct public and private interfaces.</p>

        <p>Accessible to all, the public interface showcases the most exotic space locations you will ever see<br />
            along with sign-in and sign-up options, and a dynamic search tool<br>
            where you can find every trip you will ever need.</p>

        <p>Exclusive to members, the private section opens an unbelievable experience<br />
            It includes personalized travel trips, unique profile customization, <br />
            and the ability to manage every personal space travel trip available.<br />
            Members can also engage with the community by liking,commenting,<br>
            downloading and sharing photos.</p>

        <p>Built on Angular, the client-side emphasizes seamless navigation and interaction with unique space photos.</p>

        <p>The backend, a Node.js and Express.js based RESTful API, ensures incredible performance.</p>

        <p>Data handling and storage are powered by MongoDB, enhanced with Mongoose for super efficiency.</p>

        <p><a href="https://github.com/gogata05/SpaceTravel" target="_blank" rel="noopener noreferrer">Visit project's Github page for more info</a>  </p>


    </section>


</main>